<footer class="w-full bottom-0 bg-cyan-600 text-white">
  <div class="max-2-6xl mx-auto px-4 py-10 md:py-20">
    <div class="xl:grid xl:grid-cols-2 xl:gap-8">
      <div
        class="
          flex sm:items-stretch sm:justify-between space-y-8 xl:col-span-1 py-2
        "
      >
        <p class="text-white italic">
          Recipe Finder is an innovative platform that allows you to input the
          ingredients you have at home and quickly discover a wide range of
          recipes. With its efficient search capabilities, it helps you
          optimize your choices. It is committed to providing a seamless and
          enjoyable cooking experience, making it easier than ever to find the
          perfect meal with what you already have on hand.
        </p>
      </div>

      <div class="border-t border-gray-700">
        <div class="mx-auto py-2">
          <p>
            &copy;
            <%= Time.now.year %>
            Francisco Castanho. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
