<nav class="w-full top-0 bg-cyan-100">
  <div class="mx-auto px-8 py-2">
    <div class="flex items-stretch justify-between">
      <div class="flex items-center justify-center">
        <div class="flex">
          <img src="icon.svg" alt="" class="mx-auto px-2 py-2"/>
        </div>
        <div class="flex">
          <%= link_to "Recipe Finder", root_path, class: "font-bold text-4xl text-cyan-500" %>
        </div>
      </div>
    </div>
  </div>
</nav>
